@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Work Sans", serif;
}
*{
    margin: 0;
    padding: 0;
}
.btn{
    color: white;
    font-size: 22px;
    background-color: #52C303;
    padding: 21px 32px;
    border-radius: 8px;
    border: none;
}



/* banner/hero section style */

#hero{
    /* background-image: url("../assets/hero-bg.png"); */
    background: linear-gradient(0deg, rgb(9, 9, 9) 2.884%,rgba(16, 16, 16, 0) 101.034%), url("../assets/hero-bg.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.hero-content{
    width: 818px;
}
.hero-subtitle{
    color: white;
    opacity: 0.8;
    font-size: 25px;
    margin-bottom: 13px;
}
.hero-title{
    color: white;
    font-size: 51px;
    margin-bottom: 20px;
}
.hero-description{
    color: white;
    opacity: 0.7; 
    font-size: 14px;
    margin-bottom: 26px;
}



/* Card Box/section section style */

.card-box{
    width: 1056px;
    text-align: center;
    margin: 20px auto;
}
.box-subtitle{
    font-size: 20px;
    color: #101010;
    margin-bottom: 16px;
}
.box-title{
    font-size: 38px;
    margin-bottom: 32px;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
}
.box-contain{
    margin-bottom: 48px;
}
.box-img{
    margin-bottom: 25px;
}
.card-title {
    font-size: 19px;
    padding: 11px 25px;
    border-radius: 8px;
    background-color: #52C30326;
}
.card-des{
    font-size: 32px;
    margin-top: 19px;
    gap: 20;
}
.card-contant {
    font-size: 14px;
    margin-top: 19px;
}



/* about section style */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}
.about-contain {
    padding: 105px 42px;
}
.about-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 19px;
}
.about-subtitle{
    font-size: 19px;
    color: #101010;
    margin-bottom: 57px;
}
.about-follow{
    font-size: 25px;
    margin-bottom: 49px;
}
.about-leftimg{
    width: 100%;
    border-radius:0 10px 10px 0;
}




/* footer section style */

.footer-container {
    text-align: center;
}
.footer-title {
    font-size: 38px;
    margin-bottom: 19px;
}
.footer-subtitle {
    font-size: 19px;
    margin-bottom: 62px;
}
.follow{
    font-size: 25px;
    margin-bottom: 50px;
}
footer{
    /* background-image: url(../assets/social-bg.png); */
    background-size: cover;
    background-position: center;
    padding: 105px 440px;
    margin-top: 30px;
    background-color:cadetblue;
    border-radius: 10px 10px 0 0;
}

